[submodule "submods/bgfx"]
	path = submOds/bgfx
	url = https://github.com/bkaradzic/bgfx.git
[submodule "submods/bx"]
	path = submOds/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "submods/bimg"]
	path = submOds/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "submods/bnet"]
	path = submOds/bnet
	url = https://github.com/bkaradzic/bnet.git
